.button-like {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: transparent;
  color: $primary;
  border: none;
  transition: all 200ms;
  border: 2px solid transparent;

  &:active {
    transform: scale(1.4);
  }

  &:focus {
    border: 2px solid rgb(89, 89, 255);
    border-radius: 5px;
  }
}
