.button-default {
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  width: 150px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;
  &:hover {
    background-color: $secondary;
    color: black;
  }
}
