.button-like {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: transparent;
  color: $primary;
  border: none;
  transition: all 200ms;

  &:active {
    transform: scale(1.4);
  }
}
