.contact-form {
  &__row {
    display: flex;
    flex-direction: column;
    & label {
      font-size: 26px;
    }

    & input {
      height: 60px;
      border-radius: 3px;
      border: none;
    }
  }

  &__submit {
    font-size: 18px;
  }
}
