.media-card {
  flex-basis: 28%;
  color: #901c1c;
  padding-bottom: 20px;
  flex-wrap: wrap;
  position: relative;
  & img,
  video {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
    cursor: pointer;
  }

  &__video-play {
    position: absolute;
    left: 5%;
    top: 4%;
    color: $secondary;
    // transform: translateX(-50%);
    font-size: 1.2em;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3em;

    & button {
      font-size: 1em;
    }

    & a {
      padding-left: 7px;
    }
  }

  @include tablet-design {
    flex-basis: 48%;
  }
  @include mobile-design {
    flex-basis: 100%;

    & span {
      font-size: 1.2em;

      & i {
        font-size: 1.2em;
      }
    }
  }
}
