.photographer-card2 {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  text-align: left;

  &__infos {
    &__name {
      color: $secondary;
      font-weight: 400;
      font-size: 3em;
      text-decoration: none;
      margin-bottom: 10px;
    }
    &__location {
      font-size: 1.5em;
      margin-bottom: 15px;

      color: $secondary;
      font-weight: 400;
    }

    &__description {
    }

    &__pricing {
      color: $alt2;
    }
  }

  @include tablet-design {
    &__infos {
      &__name {
        font-size: 2em;
      }

      &__description {
        padding-bottom: 10px;
      }

      &__location {
      }
    }
  }
}
