.photographer-card1 {
  justify-self: center;
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;

  &__name {
    color: $secondary;
    font-weight: 400;
    font-size: 36px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  &__infos {
    &__location {
      color: $secondary;
      font-weight: 400;
      margin-bottom: 7px;
    }

    &__description {
      margin-bottom: 7px;
    }

    &__pricing {
      color: $alt2;
    }
  }

  @include tablet-design {
    flex-basis: 50%;
  }

  @include mobile-design {
    flex-basis: 100%;
  }
}
