.selection-default {
  color: white;
  background-color: $primary;
  width: 130px;
  height: 55px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  margin: 0 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  :hover {
    background-color: $secondary;
    color: black;
  }

  & option {
    background-color: $primary;
    &:hover {
      background-color: $secondary;
      cursor: pointer;
      color: black;
      font-size: 1.1em;
    }
  }
}
