.contact-modal {
  top: 0%;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $modal-background;
  display: none;
  animation: appear-slowly-from-top 600ms ease-in-out;

  &__container {
    padding: 30px;
    background-color: $secondary;
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__close {
      position: absolute;
      right: 5%;
      top: 3%;
    }

    &__header {
      & h2 {
        font-size: 2.5em;
        margin-top: 0;
        max-width: 90%;
      }
    }
    & div {
      margin-bottom: 20px;
    }
  }

  @include tablet-design {
    &__container {
      width: 80%;
      min-width: 200px;

      &__header {
        & h2 {
          font-size: 1.7em;
        }
      }
    }
  }
}
