.contact-modal {
  top: 0%;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #c4c4c485;
  display: none;

  &__container {
    padding: 30px;
    background-color: $secondary;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__header {
      & h2 {
        font-size: 48px;
      }
    }
    & div {
      margin-bottom: 20px;
    }
  }
}
