.photographer-media {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  animation: appear-slowly 2s linear;

  @include tablet-design {
    margin: 20px;
    margin-bottom: 100px;
  }
}
