.photographer-overlay {
  position: fixed;
  bottom: 0%;
  right: 3%;
  background-color: $secondary;
  height: 30px;
  z-index: 50;
  display: flex;
  padding: 15px 30px;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  border-radius: 4px;

  &__like {
    min-width: 100px;
    margin-right: 20px;
    text-align: left;
    cursor: default;
    color: black;

    & i {
      padding-left: 7px;
    }
  }

  &__pricing {
    margin-left: 20px;
  }
}
